.content {
    height: 600px;
    width: 450px;
    background-color: rgba(0, 0, 0, .45);
    border-radius: 10px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    top: -150px;
}

.header {
    margin: 0 0 50px;
    padding: 0;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
}

.button {
    width: 80px;
    height: 30px;
    border-color: #041c32;
    background-color: #2d4263;
    font-size: 16px;
    color: white;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.input {
    font-size: 20px;
    border-radius: 5px;
    width: 300px;
    color: black;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.btns {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.link {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.span {
    font-size: 16px;
    color: white;
    padding: 5px;
}